#============================================================================
# General Build Configuration
#----------------------------------------------------------------------------

[build]
publish = "public"

#============================================================================
# Deployment Contexts
#
# Learn more: https://docs.netlify.com/configure-builds/file-based-configuration/#deploy-contexts
#----------------------------------------------------------------------------

# Deploys coming from `main`.
[context.production]
command = "zola build && tailwindcss -i styles/main.css -o public/main.css"
ZOLA_VERSION = "0.13.0"

# Deploys coming from pull requests.
[context.deploy-preview]
command = "zola build --base-url $DEPLOY_PRIME_URL && tailwindcss -i styles/main.css -o public/main.css"
ZOLA_VERSION = "0.13.0"

# Deploys coming from branches other than `main`.
[context.branch-deploy]
command = "zola build --base-url $DEPLOY_PRIME_URL && tailwindcss -i styles/main.css -o public/main.css"
ZOLA_VERSION = "0.13.0"

#============================================================================
# Redirects
#----------------------------------------------------------------------------

[[redirects]]
from = "/glossary/git/#git-ref"
to = "/glossary/git/#git-object-id-gitoid"

[[redirects]]
from = "/glossary/git/#git-ref"
to = "/glossary/git/#git-object-id-gitoid"

[[redirects]]
from = "https://gitbom.dev/*"
to = "https://omnibor.io/:splat"
status = 301
force = true
