@media (max-width: 550px) {
   .big-container {
       display: none;
   }
   .responsive-iframe-container iframe,   
   .vresponsive-iframe-container object,  
   .vresponsive-iframe-container embed {
      width: 100%;
      height: 100%;
   }
}
@media (min-width: 550px) {
   .small-container {
       display: none;
   }
}
/* Responsive iFrame */
.responsive-iframe-container {
   position: relative;
   padding-bottom: 56.25%;
   padding-top: 30px;
   height: 0;
   overflow: hidden;
}
.responsive-iframe-container iframe,   
.vresponsive-iframe-container object,  
.vresponsive-iframe-container embed {
   position: absolute;
   top: 0;
   left: 0;
}
