{{ $toc := .TableOfContents }}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column{{ if isset .Params "toc" }} is-three-quarters{{ end }}">
        {{ if isset .Params "toc"}}
          {{ with $toc }}
          <div class="is-hidden-tablet">
            {{ partial "toc.html" . }}

            <hr />
          </div>
          {{ end }}
        {{ end }}
        <div class="content is-narrow-desktop">                
          {{ .Content }}
        </div>
      </div>
      {{ if isset .Params "toc"}}
        {{ with $toc }}
        <div class="is-hidden-mobile">
          {{ partial "toc.html" . }}
        </div>
        {{ end }}
      {{end}}
    </div>
  </div>
</section>
