{{ $github  := site.Params.social.github }}
{{ $twitter := site.Params.social.twitter }}
{{ $devstats := site.Params.social.devstats }}
<div class="navbar-item">
  <div class="buttons is-radiusless">
    <a class="button is-twitter-blue" href="{{ $twitter }}" target="_blank">
      <span class="icon">
        <i class="fab fa-twitter"></i>
      </span>
      <span class="has-text-weight-bold">
        Twitter
      </span>
    </a>

    <a class="button is-black" href="{{ $github }}" target="_blank">
      <span class="icon">
        <i class="fab fa-github"></i>
      </span>
      <span class="has-text-weight-bold">
        GitHub
      </span>
    </a>
  </div>
</div>
